[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  environment = { VITE_API_URL = "https://libre-app-backend.onrender.com/api" }

[context.deploy-preview]
  environment = { VITE_API_URL = "https://libre-app-backend.onrender.com/api" }

[context.branch-deploy]
  environment = { VITE_API_URL = "https://libre-app-backend.onrender.com/api" }
